j.metals
.vscode
.bloop
test_run_dir
ScalaPractice/*.json
ScalaPractice/*.fir
ScalaPractice/*.v
*/ChiselBookDemo/*.json
*/ChiselBookDemo/*.fir
*/ChiselBookDemo/*.v
*/ChiselBookDemo/project
*/ChiselBookDemo/target
project/
target/
*/ChiselALU/*.v
*/ChiselALU/*.json
*/ChiselALU/*.fir
*/ChiselALU/
.ipynb_checkpoints
rocketChip/*
ScalaAndChisel/*.json
ScalaAndChisel/*.v
ScalaAndChisel/*.fir
.DS_Store
temp.*
src/rtl/obj_dir/
*.vcd
*.log
.stamp.verilate
*.bak
# test*
*.vvp
demo/
*.gtkw
.nvim/*
*.elf
# *.bin
*.metals
src/verification/asm/generated/*
src/verification/build/obj_dir/
src/verification/build/*
