.metals
.vscode
.bloop
test_run_dir
ScalaPractice/*.json
ScalaPractice/*.fir
ScalaPractice/*.v
*/ChiselBookDemo/*.json
*/ChiselBookDemo/*.fir
*/ChiselBookDemo/*.v
*/ChiselBookDemo/project
*/ChiselBookDemo/target
project/
target/
*/ChiselALU/*.v
*/ChiselALU/*.json
*/ChiselALU/*.fir
*/ChiselALU/
.ipynb_checkpoints
